{% extends "base.html" %}

{% block title %}Arista Transcoder - About{% endblock %}

{% block head %}
    <style type="text/css">
        body {
            background-image: url({{ MEDIA_URL }}img/background-stripe.png);
        }
    </style>
{% endblock %}

{% block content %}
    <div id="main">
        <h1>
            <img src="{{ MEDIA_URL }}/img/logo.png" alt="Arista Transcoder: convert to DVD, computer, laptop, iPod, phone, game console and more!"/>
        </h1>
        <p>
            <em>The easiest way to convert your media.</em>
        </p>
        <table>
            <tr>
                <td>
                    <h2>Formats</h2>
                    <ul>
                        <li>MP4</li>
                        <li>WebM</li>
                        <li>Matroska</li>
                        <li>AVI</li>
                        <li>Ogg</li>
                        <li>FLV</li>
                    </ul>
                </td>
                <td>
                    <h2>Video</h2>
                    <ul>
                        <li>H.264</li>
                        <li>VP8</li>
                        <li>MPEG4 / DivX</li>
                        <li>MPEG2</li>
                        <li>Theora</li>
                        <li>Flash Video</li>
                    </ul>
                </td>
                <td>
                    <h2>Audio</h2>
                    <ul>
                        <li>AAC</li>
                        <li>Vorbis</li>
                        <li>MP3</li>
                        <li>FLAC</li>
                        <li>Speex</li>
                        <li>WAV</li>
                    </ul>
                </td>
                <td>
                    <h2>Devices</h2>
                    <ul>
                        <li>Android</li>
                        <li>Computer</li>
                        <li>DVD</li>
                        <li>iPhone / iPod / iPad</li>
                        <li>Nokia N Series</li>
                        <li>Web</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

