{% extends "base.html" %}

{% block title %}Arista Transcoder - Downloads{% endblock %}

{% block content %}
    <h1>Downloads</h1>
    <div class="half left">
        <p>
            Here you can download the latest releas of Arista Transcoder.
        </p>
        <div style="text-align: center; padding: 2.5em 0em;">
            <a class="button" href="http://programmer-art.org/media/releases/arista-transcoder/arista-{{ data|first|first }}.tar.gz"><img src="{{ MEDIA_URL }}img/download.png" alt="Icon" style="margin-left: -32px; margin-right: 10px; margin-bottom: -10px; margin-top: -10em;"/>Download arista-{{ data|first|first }}</a>
        </div>
        <p style="margin-top: -1.5em; margin-bottom: 2em; font-size: 80%; text-align: center;">
            <a style="color: white; text-decoration: none;" href="http://github.com/danielgtaylor/arista/blob/{{ data|first|first }}/README.md">&raquo; View Release Notes</a>
        </p>
        <p>
            To the right you will find a full list of releases, when they were released, and the SHA commit. You can also try the latest unreleased code in <a href="http://github.com/danielgtaylor/arista">trunk</a>.
        </p>
    </div>
    <div class="half right">
        <table>
            <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Commit</th>
            </tr>
            {% for tag, date, commit in data %}
                <tr>
                    <td><a href="http://programmer-art.org/media/releases/arista-transcoder/arista-{{ tag }}.tar.gz">arista-{{ tag }}</a></td>
                    <td>{{ date|date:"j N, Y" }}</td>
                    <td><a href="http://github.com/danielgtaylor/arista/commit/{{ commit }}">{{ commit|slice:":7" }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

